h1{
	font-size: 80px;
	font-family: Arial, sans-serif;
	text-align: center;
}
body{
	background-color: #F0F8FF;
}
img{
	margin-right: auto;
	margin-left: auto;
	width: 25%;
	height: 25%;
	display: block;
}
p{
	font-size: 30px;
	font-family: Helvetica, sans-serif;
	text-align: justify;
	margin-left: 30px;
	margin-right: 30px;
}
li{
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	margin-left: 70px;	
	list-style-type: number;
}
ul{
	font-family: Tahoma, sans-serif;
	font-size: 20px;
	list-style-type: none;
}
.selected{
	list-style-type: none;
	font-family: Tahoma, sans-serif;
	font-size: 20px;
}
